__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/
data/*
vis/*
vis_depth/*

tmp_*
data?
data??
scripts2

model_cache


logs*
videos/*
images/*
*.mp4
test.jpg
*.jpg
*.pth
*.a
*.zip
*.npy
*.npz
*.json
*.pth
DearPyGuiDearSandbox
DearPyGui
*.pkl
